/*
=============== 
Variables
===============
*/
//Colors
$header_bg_color: #4a08d9;
$header_color: #ffffff;
$header_shadow: #cccccc;
$bg-color: #eaf6ff;
$arrows_color: #4a08d9;
//fonts
$body_font: 'Montserrat', sans-serif;
$header_font: 'McLaren', cursive;
$title_font: 'Montserrat', sans-serif;
//image size
$img_height: 95px;
$img_width: 95px;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  font-family: $body_font;
}

.header {
  display: flex;
  background-color: $header_bg_color;
  color: $header_color;
  font-family: $header_font;
  font-weight: 200;
  box-shadow: 0 0 0.625rem 0 $header_shadow;

  h1 {
    padding: 1rem 12.5rem;
    flex: 1;
  }

  .cart {
    margin: 1.5rem 12.5rem 0 0;
  }
}

.title {
  width: 16rem;
  font-family: $title_font;
  font-weight: 400;
  margin: 5px auto;
}

.item {
  display: flex;
  margin: 15px auto;
  width: 65rem;
  height: 7rem;
  background-color: white;
  border-radius: 7px;
  padding: 3px;

  img {
    height: $img_height;
    width: $img_width;
    margin: 10px 0 10px 0;
  }

  .description {
    flex: 1;
    margin-left: 30px;
    line-height: 1.5;
    .delete {
      margin-top: 32px;
    }
  }

  .qty {
    display: flex;
    flex-direction: column;
    margin: auto 10px auto 3px;

    .up_arrow,
    .down_arrow {
      color: $arrows_color;
    }

    .number {
      text-align: center;
    }
  }
}
